/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  font-size: 17px;
  line-height: 1.65em; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */ }

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/**
 * Breakpoints
 */
/**
 * Mixins
 */
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem; }
  .grid-item {
    background-color: salmon;
    border-radius: 5px;
    height: 180px;
    margin: 1rem;
    width: 180px; }
    @media (min-width: 1057px) and (max-width: 1312px) {
      .grid-item {
        background-color: violet; } }
    @media (min-width: 673px) and (max-width: 1056px) {
      .grid-item {
        background-color: aquamarine; } }
    @media (min-width: 401px) and (max-width: 672px) {
      .grid-item {
        background-color: yellow; } }
    @media (max-width: 400px) {
      .grid-item {
        background-color: hotpink; } }

* {
  box-sizing: border-box; }

html {
  color: #fff;
  background: #000;
  font-family: 'Merriweather', serif;
  color: #CBCBCB;
  font-weight: 300; }

a, a:visited, a:active {
  text-decoration: underline;
  color: #CBCBCB; }

a:hover {
  color: #FF4D00; }

@font-face {
  font-family: "roba-bold";
  src: url("/fonts/roba/RobaV0.2Low-Bold.eot");
  src: url("/fonts/roba/RobaV0.2Low-Bold.woff") format("woff"), url("/fonts/roba/RobaV0.2Low-Bold.otf") format("opentype"), url("/fonts/roba/RobaV0.2Low-Bold.svg") format("svg"); }

h1, h2, .big {
  font-family: "roba-bold", roboto, helvetica, arial, san-serif; }

h1, h2, h3 {
  color: #fff; }

h1, .big {
  font-size: 5.6em;
  text-transform: capitalize;
  text-align: center;
  font-weight: 100;
  line-height: 1em; }

.big {
  margin: 0;
  text-align: left; }
  @media (max-width: 1056px) {
    .big {
      text-align: center; } }

h2 {
  font-size: 3rem; }
  @media (max-width: 672px) {
    h2 {
      line-height: 2.5rem; } }

h3 {
  margin: .5rem 0 .25rem;
  font-size: 1.25rem; }

h4 {
  font-size: 1.1rem;
  color: #fff;
  margin: .5rem 0; }

aside {
  font-style: italic; }

p {
  padding: .1rem 0; }

ul {
  text-align: left; }
  ul li {
    padding-left: 1.25rem;
    margin-bottom: 1rem; }

.grid-interior {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  @media (max-width: 1056px) {
    .grid-interior {
      justify-content: space-around; } }
  .grid-interior > * {
    width: 22%;
    display: flex;
    align-items: center;
    margin: 1.25rem; }
    .grid-interior > * > img {
      width: 100%; }
    @media (max-width: 1056px) {
      .grid-interior > * {
        max-width: 40vw;
        flex-direction: row;
        text-align: center; } }
    .grid-interior > * span:first-child {
      font-size: 1.5rem;
      padding-bottom: .5rem;
      margin-right: .6rem; }
    .grid-interior > * span:nth-child(2) {
      font-size: .75rem;
      line-height: 1rem; }

#current-work > div {
  margin-bottom: 2.25rem; }

.wide {
  width: 100%; }
  @media (max-width: 672px) {
    .wide {
      display: none; } }

.break::after {
  content: '';
  position: absolute;
  display: block;
  border-bottom: 1px solid #efefef;
  left: 25%l; }

.col {
  max-width: 30rem; }
  @media (max-width: 672px) {
    .col {
      max-width: 30rem;
      padding: 1.5rem; } }
  .col-small {
    flex: 1 0 25%;
    margin: 1.5rem 1.5rem;
    max-width: 25%;
    font-size: .8rem;
    line-height: 1.4rem; }
    @media (max-width: 672px) {
      .col-small {
        margin: .5rem; } }
    .col-small h4 {
      font-size: .9rem; }
    .col-small li {
      margin-bottom: .4rem; }
    @media (max-width: 1312px) {
      .col-small {
        margin-left: 1.5rem;
        flex: 1 50%;
        max-width: 40%; } }
    @media (max-width: 672px) {
      .col-small {
        margin-left: 1.5rem;
        flex: 1 50%;
        max-width: 80%; } }
    .col-small aside {
      font-size: .8rem;
      font-style: normal; }
    .col-small:nth-child(3n-1) {
      margin-left: 7vw; }
      @media (max-width: 1312px) {
        .col-small:nth-child(3n-1) {
          margin-left: 1.5rem; } }
    .col-small:nth-child(3n+4) {
      margin-right: 7vw; }
      @media (max-width: 1312px) {
        .col-small:nth-child(3n+4) {
          margin-right: 1.5rem; } }
    .col-small.last {
      margin-right: 0;
      margin-left: 0;
      margin-top: -.25rem; }

aside#a-header {
  margin-top: -2.75rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: lighter; }
  @media (max-width: 672px) {
    aside#a-header {
      margin: 1,5rem 0; } }

#splash {
  height: 60vmin;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (max-width: 672px) {
    #splash {
      height: 65vmax;
      font-size: 4vmin; } }
  @media (max-width: 672px) {
    #splash aside {
      font-size: 4vmin;
      padding-top: 1rem; } }
  #splash h1 {
    padding: 1rem; }
  #splash h1::after {
    content: "*";
    font-weight: bold; }

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  @media (max-width: 1056px) {
    body {
      text-align: center; } }

#current-work .dollar:before {
  content: "$";
  font-face: roba-bold, roboto, helvetica, arial, san-serif;
  font-weight: bold;
  font-size: 2rem;
  vertical-align: super; }

#current-work aside {
  font-size: .8rem; }

#talks-essays > a {
  overflow: hidden;
  display: block;
  padding-left: 1.5rem;
  margin-bottom: 1.75rem; }
  #talks-essays > a h3 {
    margin: 0 0 .5rem;
    line-height: 2rem; }
  #talks-essays > a h4 {
    text-align: center; }
  #talks-essays > a p {
    margin: 0; }

#talks-essays > a, #talks-essays a:visited {
  text-decoration: none;
  border-left: 1.5px solid #575757; }

#talks-essays > a:hover, #talks-essays > a:active {
  text-decoration: none;
  border-left: 1.5px solid #FF4D00;
  color: #575757; }

footer {
  padding: 2rem;
  width: 100%; }

nav {
  width: 18.1 5rem;
  position: fixed;
  padding: 1rem .25rem .65rem 1.5rem;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 0 0 6px 0; }
  @media (max-width: 1056px) {
    nav {
      text-align: left; } }
  @media (max-width: 672px) {
    nav {
      display: none; } }
  nav a, nav a:visited, nav a:hover, nav a:active {
    font-size: .9rem;
    text-decoration: none; }
  nav #logo {
    font-family: "roba-bold", roboto, helvetica, arial, san-serif;
    font-weight: normal;
    font-size: 1.7rem;
    width: 100%;
    display: block;
    color: white;
    margin-bottom: .25rem;
    text-transform: capitalize; }

#testimonials {
  margin-bottom: 5rem;
  padding: 0; }
  @media (max-width: 672px) {
    #testimonials {
      margin-bottom: inherit; } }
  #testimonials .quote {
    font-size: 1.1rem;
    font-weight: lighter;
    color: white;
    text-align: center; }
  #testimonials aside {
    font-size: .9rem;
    margin-top: -.8rem;
    margin-bottom: 2rem;
    text-align: center; }

.contact#interior {
  margin-top: 5rem; }
  @media (max-width: 1056px) {
    .contact#interior {
      display: none; } }

.contact#exterior {
  display: none; }
  @media (max-width: 1056px) {
    .contact#exterior {
      display: block; } }

@media (max-width: 1056px) {
  .contact {
    height: inherit; } }

#elsewhere {
  column-count: 2; }
