@import 'var.scss';
@import 'responsive.scss';

html {
  color: #fff;
  background: #000;
  font-family: 'Merriweather', serif;
  color: $body-font-col;
  font-weight: 300;
}

a, a:visited, a:active {
  text-decoration: underline;
  color: $body-font-col;
  }

 a:hover { color: $activate-red; }

@font-face {
  font-family: "roba-bold";
  src: url("/fonts/roba/RobaV0.2Low-Bold.eot");
  src: url("/fonts/roba/RobaV0.2Low-Bold.woff") format("woff"),
  url("/fonts/roba/RobaV0.2Low-Bold.otf") format("opentype"),
  url("/fonts/roba/RobaV0.2Low-Bold.svg") format("svg");
}

h1, h2, .big { font-family: "roba-bold", roboto, helvetica, arial, san-serif; }
h1, h2,h3 { color: $header-font-color; }


h1, .big {
  font-size: 5.6em;
  text-transform: capitalize;
  text-align: center;
  font-weight: 100;
  line-height: 1em;
}

.big {
  margin: 0;
  text-align: left;
  @media (max-width: $large) {
    text-align: center;
  }
}

h2 {
  font-size: 3rem;
  @media (max-width: $medium) {
    line-height: 2.5rem;
    }
}

h3 {
  margin: .5rem 0 .25rem;
  font-size: 1.25rem;
  }

h4 { font-size: 1.1rem; color: #fff; margin: .5rem 0;  }

aside { font-style: italic;}
p { padding: .1rem 0;}
ul {
  text-align: left;
  li {
  padding-left: 1.25rem;
  margin-bottom: 1rem;
  }
}

.grid-interior {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  @media (max-width: $large) {
    justify-content: space-around;
    }

  > * {
    width: 22%;
    display: flex;
    align-items: center;
    margin: 1.25rem;

    > img { width: 100%; }

    @media (max-width: $large) {
      max-width: 40vw;
      flex-direction: row;
      text-align: center;
      }

    span:first-child {
      font-size: 1.5rem;
      padding-bottom: .5rem;
      margin-right: .6rem;
    }
    span:nth-child(2) {
    font-size: .75rem;
    line-height: 1rem;

    }
  }
}

#current-work > div { margin-bottom: 2.25rem; }
.wide {
  width: 100%;
  @media (max-width: $small) {
    text-align: center;
  }

  &.stripe {
  // plumbing
  display: flex;
  align-items: center;
  &::after {
    content: '';
    flex: 1;
    padding: 1px;
    margin-top: .4ch; // feels more natural to center on non-ascenders
    margin-left: 1ch;
    background: currentColor;
    }
    // porcelain
    &::after {
      opacity: .3; // allow liner to natually blend with element/parent bg
      }
    }
  padding: .5rem 1.5rem;

}
.break::after {
  content: '';
  position: absolute;
  display: block;
  border-bottom: 1px solid #efefef;
  left: 25%l

}

.col {
  max-width: 30rem;

  @media (max-width: $medium) {
    max-width: 20rem;
    }

  &-small {
    flex: 1 0 25%;
    margin: 1.5rem 1.5rem;
    max-width: 25%;
    // min-width: 25%;
    font-size: .8rem;
    line-height: 1.4rem;

    @media (max-width: $medium) {
      margin: .5rem;
    }

    h4 { font-size: .9rem; }
    li { margin-bottom: .4rem;}
    @media (max-width: $xlarge) {
      margin-left: 1.5rem;
      flex: 1 50%;
      max-width: 40%;
      }
    @media (max-width: $medium) {
      margin-left: 1.5rem;
      flex: 1 50%;
      max-width: 80%;
    }

    aside { font-size: .8rem; font-style: normal;}


    &:nth-child(3n+0) {
       // background: green;
       margin-left: 7vw;
       @media (max-width: $xlarge) {
         margin-left: 1.5rem;
         // background: blue;
       }
      }
    &:nth-child(3n+2) {
       // background: red;
       margin-right: 7vw;

       @media (max-width: $xlarge) {
         margin-right: 1.5rem;
         // background: blue;
         }
       }
       &.last{
         margin-right: 0;
         margin-left: 0;
         margin-top: -.25rem;
        }
    }
  }

aside#a-header {
  margin-top: -2.75rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: lighter;

  @media (max-width: $medium) {
    margin: 1,5rem 0;
    }
}

#splash {
  height: 60vmin;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $medium) {
    height: 65vmax;
    }

  h1::after {
    content: "*";
    font-weight: bold;
  }
}

body {
  display: flex;
  flex-wrap: wrap;
  // margin: 2rem;
  justify-content: space-evenly;
  @media (max-width: $large) {
    text-align: center;
    }
}

#current-work {
  .dollar:before {
      content: "$";
      font-face: roba-bold, roboto, helvetica, arial, san-serif;
      font-weight: bold;
      font-size: 2rem;
      vertical-align: super;
   }
  aside { font-size: .8rem; }

}

#talks-essays {
  > a {
    overflow: hidden;
    display: block;
    padding-left: 1.5rem;
    margin-bottom: 1.75rem;

    h3{ margin: 0 0 .5rem; line-height: 2rem; }
    h4 { text-align: center; }
    p { margin: 0;}
  }


  > a,a:visited, {
    text-decoration: none;
    border-left: 1.5px solid $dark-gray;
    // margin-bottom: 1em;
  }

  > a:hover, > a:active {
    text-decoration: none;
    border-left: 1.5px solid $activate-red;
    color: $dark-gray;
    // margin-bottom: 1em;
  }
}

footer {
  padding: 2rem;
  width: 100%;

  h2 {

  }
}

nav {
  width: 18.15rem;
  position: fixed;
  padding: 1rem .25rem .65rem 1.5rem;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.85);
  border-radius: 0 0 6px 0;

  @media (max-width: $large) {
    text-align: left;
    }

  @media (max-width: $medium) {
    display: none;
    }

  a, a:visited, a:hover, a:active  { font-size: .9rem; text-decoration: none; }

  #logo {
    font-family: "roba-bold", roboto, helvetica, arial, san-serif;
    font-weight: normal;
    font-size: 1.7rem;
    width: 100%;
    display: block;
    color: white;
    margin-bottom: .25rem;
    text-transform: capitalize;
  }
}

#contact-container {
  height: 70vh;
  @media (max-width: $medium) {
    height: inherit;
    }
}

#elsewhere {
  column-count: 2;
  }
